/* General overrides for predefined classes */
body {
    background-color: #FDFDFD;
    margin: 0em;
    font-family: sans-serif;
}

p {
    margin-bottom: 2em;
    line-height: 1.6em;
}

a {
    text-decoration: underline;
    color: #111;
}

img {
    width: 100%;
}

#text-head {
    text-align: center;
}

.img-center {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
}


/* Media queries. This one is for big screens */
@media only screen and (min-width: 1000px) {
    article {
        width: 1000px;
        margin: 0 auto;
    }
}

/* Medium screens */
@media only screen and (min-width: 480px) and (max-width: 999px) {
    article {
        width: 85%;
        margin: 0 auto;
    }
}

/* Smallest screens */
@media only screen and (max-width: 479px) {
    article {
        width: 100%;
    }
}


/* Logo of the webpage. There is a container that makes the vertical space and
   then the centered image */
#logo-container {
    text-align: center;
    margin: 3em 0;
}

#logo-img {
    height: 3em;
}

/* Header photo, with more margin if we are in desktop */
#header-img {
    width: 100%;
}

@media only screen and (min-width: 480px) {
    #header-img {
        margin-top: 6em;
    }
}

@media only screen and (max-width: 479px) {
    #header-img {
        margin-top: 2em;
    }
}


/* Index link structure. There is a container where all the big-links are */
#big-link-container {
    margin: 4em 2em;
}

.big-link {
    font-size: 2em;
    margin: 0.5em 0;
    transition: margin 0.2s, color 0.2s;
}

.big-link:hover {
    margin-left: 0.2em;
    color: #777;
}


/* All the meaningful content of the page (other than the logo, the big links and
   the footer) are inside the content div */
section {
    margin: 4em 2em;
}


/* A structured collection of image links */
.img-grid {
    display: grid;
    padding: 2em 0em;
}

/* Media queries for the grid. This one is for big screens */
@media only screen and (min-width: 1000px) {
    .img-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

/* Medium screens */
@media only screen and (min-width: 480px) and (max-width: 999px) {
    .img-grid {
        grid-template-columns: 33% 33% 33%;
    }
}

/* Smallest screens */
@media only screen and (max-width: 479px) {
    .img-grid {
        grid-template-columns: 50% 50%;
    }
}

.grid-element {
    margin: 0.125em;
    transition: opacity 0.2s;
}

.grid-element:hover {
    opacity: 0.85;
}


/* CV specific things*/
.cv-whatiknow {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

#cv-photo {
    display: block;
    width: 12em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#cv-name {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0px;
}

#cv-oneline {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0px;
}

#cv-location {
    font-style: italic;
    text-align: center;
}

.cv-hr {
    opacity: 0.5;
    width: 15%;
    margin: 3em auto;
}

.cv-jobtitle {
    font-size: 1.1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.cv-jobdescription {
    margin-top: 0px;
    margin-bottom: 1em;
}

/* The footer is as simple as it gets, not even fixed to the bottom */
footer {
    text-align: center;
    color: #333;
    font-family: monospace;
    font-size: 1.2em;
    padding: 2em 1em 7em 1em;
}
